

 
/* Styling the body element
like body color and margin */
 
body {
    /*background-color: #50bef1;*/
    margin: 20%;
}



/* Styling the Title and giving
shadow to the title */
#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* Setting width and display
type of image */
img {
    display: inline-block;
    width: 100%;
}

/* Setting font color and font
size of the image-caption */
#caption {
    text-align: center;
    font-size: 17px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

/* Styling the content of the page like-
padding, font-size, font color etc.*/
div#tribute-data {
    background-color: rgba(77, 239, 245, 0.25);
    box-shadow: 20px 20px 20px #04b4c0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    text-align: justify;
}

/* Styling the title of the content */
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}


/* Styling the link provided at the end */
#tribute-link {
    text-decoration: none;
    color: black;
    text-align:justify;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
        115deg,
        rgba(111, 99, 212, 0.8),
        rgba(31, 128, 128, 0.7)
      ),
      url(9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}